<p><%=h @subject %></p>

<% @form.class.form_attributes.each do |attribute|
  value = @form.send(attribute)
  next if value.blank? %>

  <p><b><%= @form.class.human_attribute_name(attribute) %>:</b>
  <%= value.include?("\n") ? simple_format(h(value)) : h(value) %></p>
<% end %>
